
:root {
    --primary-color: #1b1a17;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: #f0e3ca;
}

.videocontainer {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: var(--primary-color) url(images/lft.png) no-repeat center center/cover;
}

.videocontainer video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.videocontainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 26, 23, .8);
}

.content {
    z-index: 10;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: #f0e3ca;
    border: 1px #f0e3ca solid;
    border-radius: 5px;
    margin-top: 25px;
    opacity: .8;
    transition: transform .2s;
}

.btn:hover {
    transform: scale(.9);
    opacity: 1;
}

#about {
    padding: 40px;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#about h2 {
    margin: 30px 0;
    color: var(--primary-color);
}

.social a {
    margin: 0 20px;
}

.social a:hover {
    opacity: .8;
}

p.footer{
    padding-top: 30px;
}